@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0 ;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #E3F2FD;
}

.wrapper{
  width: 65vmin;
  height: 70vmin;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background: #293447;
}

.game-details{
  color: #B8C6DC;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}

.play-board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30 , 1fr) / repeat(30 , 1fr);
  background: #212837;
}

.play-board .food{
  border-radius: 100%;
  background: #FF003D;
}

.play-board .head{
  background: #60CBFF;
}

